*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.container{
    width: 100%;
    margin: auto;
    padding: 0px 0px !important;
}
.menu {
    width: 100%;
    background: rgb(46, 46, 46);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.icon-navbar{
    width: 100%;
    background: rgb(46, 46, 46);
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.navbar-img{
    width: 200px;
    height: 100%;
}
.menu_ul{
    height: 72px;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.menu_navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    /* padding-top: 35px; */
}
.menu_ul ul{
    display: flex;
    justify-content: center;
    text-align: center;
}
.menu_ul ul a {
    margin: 0 2px;
    padding: 0px 10px;
    font-weight: 900;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    display: flex;
    margin-top: 0px;
    cursor: pointer;
    transition: 1s;
    display: none;
}
.open_icon{
    display: none;
}
.close_icon{
    display: none !important;
}
.text_div{
    text-align: center;
    justify-content: center;
    margin: auto;
    display: none;
}
.menu_ul.active{
    transform: translateX(-800%);
}
.vidios {
    color: red;
    margin-left: 73%;
    font-size: 27px;
    display: none;
}
.vidios2{
    color: red;
    margin-left: 73%;
    font-size: 27px;
    display: none; 
}
.vidios3{
    color: red;
    margin-left: 73%;
    font-size: 27px;
    display: none; 
}
.vidios4{
    color: red;
    margin-left: 73%;
    font-size: 27px;
    display: none; 
}
.vidios5{
    color: red;
    margin-left: 73%;
    font-size: 27px;
    display: none; 
}
.links_migs{
    color: white;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 21px;
    cursor: pointer;
    transition: 0.5s;
    padding-bottom: 4px;
}
.links_migs:hover{
    border-bottom: 1px solid red;
}
.menu_btn:hover{
    background: red;

}
.icon_open {
    color: white;
    font-size: 31px;
    cursor: pointer;
    /* margin-bottom: 10px; */
    /* margin-left: 10px; */
}
.icon-img {
    width: 170px;
    height: 52px;
    position: absolute;
}

@media (max-width: 950px){
    .menu_ul{
        display: none;
        
    }
    .menu_ul.active {
        display: block;
        width: 40%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background: #151515;
        align-items: center;
        transform: translateX(+0%);
        transition: 1s;
        padding-top: 0px;
    }
    .menu_ul ul {
        flex-direction: column;
    }
    ol, ul {
        padding-left: 1rem !important;
    }
    .open_icon{
        display: block;
        align-items: flex-start;
    }
    .close_icon{
        display: block !important;
    }
    .menu_ul ul{
        display: flex;
        justify-content: start;
        text-align: start;
    }
    .menu_navbar {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 52px;
        /* padding-top: 35px; */
    }
    .icon_open {
        color: white;
        font-size: 31px;
        cursor: pointer;
        /* margin-bottom: 34px; */
        /* padding-right: 0px; */
        margin-right: 745px;
    }
    .icon_close{
        color: white;
        font-size: 31px;
        cursor: pointer;
        transition: 1s;
    }
    .icon_close:hover{
        color: rgb(255, 0, 0);
        font-size: 31px;
        cursor: pointer;
    }
    .container-sm, .container {
        max-width: 801px !important;
    }
    .vidios {
        color: red;
        margin-left: 73%;
        font-size: 27px;
        display: block;
    }
    .vidios2 {
        color: red;
        margin-left: 52%;
        font-size: 27px;
        display: block;
    }
    .vidios3 {
        color: red;
        margin-left: 70%;
        font-size: 27px;
        display: block;
    }
    .vidios4 {
        color: red;
        margin-left: 79%;
        font-size: 27px;
        display: block;
    }
    .vidios5 {
        color: red;
        margin-left: 78%;
        font-size: 27px;
        display: block;
    }
    .links_migs{
        color: white;
        text-decoration: none;
        font-family: 'Courier New', Courier, monospace;
        font-size: 24px;
        cursor: default;
    }
    .menu_ul ul a {
        margin: 0 2px;
        padding: 0px 12px;
        font-weight: 900;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        display: flex;
        margin-top: 26px;
    }
    
}


@media (max-width: 796px){
    .icon_open {
        color: white;
        font-size: 31px;
        cursor: pointer;
        margin-right: 701px;
    }
}

@media (max-width: 750px) {
.icon_open {
    color: white;
    font-size: 31px;
    cursor: pointer;
    margin-right: 671px !important;
}
}

@media (max-width: 720px) {
    .icon_open {
        color: white;
        font-size: 31px;
        cursor: pointer;
        margin-right: 604px !important;
    }
    
    .menu_navbar {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 67px;
        /* padding-top: 35px; */
    }
}

@media (max-width: 644px) {
    .icon_open {
        color: white;
        font-size: 31px;
        cursor: pointer;
        margin-right: 544px !important;
    }
    .menu_ul ul a {
        margin: 0 2px;
        padding: 0px 0px;
        font-weight: 900;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        display: flex;
        margin-top: 8px;
    }
}

@media (max-width: 580px) {
    .icon-img {
        width: 147px;
        height: 37px;
        position: absolute;
    }
    .icon_open {
        color: white;
        font-size: 31px;
        cursor: pointer;
        margin-right: 450px !important;
    }
}

@media (max-width: 490px) {
    
    .icon_open {
        color: white;
        font-size: 31px;
        cursor: pointer;
        margin-right: 399px !important;
    }
}

@media (max-width: 440px) {
    .menu_navbar {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 42px;
        /* padding-top: 35px; */
    }
    .icon-img {
        width: 138px;
        height: 30px;
        position: absolute;
    }
    .icon_open {
        color: white;
        font-size: 22px;
        cursor: pointer;
        margin-right: 364px !important;
    }
}

@media (max-width: 394px) {
    .icon_open {
        color: white;
        font-size: 22px;
        cursor: pointer;
        margin-right: 323px !important;
    }
}